<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerhair.backgroundhair.module.store.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.powerhair.backgroundhair.module.store.domain.Store">
        <id property="id" column="id"/>
        <result property="storeName" column="store_name"/>
        <result property="createTime" column="create_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updatorId" column="updator_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,store_name,create_time,creator_id,update_time,updator_id
    </sql>

    <insert id="save" parameterType="com.powerhair.backgroundhair.module.store.domain.Store">
        INSERT INTO store
        (<include refid="Base_Column_List"/>)
        VALUES (#{id}, #{storeName}, #{memberCount}, #{createTime}, #{creatorId}, #{updateTime}, #{updatorId});
    </insert>

    <select id="listStore" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM store
        <if test="storeName != null and storeName != ''">
            WHERE store_name like "%" #{storeName} "%"
        </if>
        LIMIT #{startIndex}, #{size}
    </select>

    <update id="update" parameterType="com.powerhair.backgroundhair.module.store.domain.Store">
        UPDATE store
        SET store_name  = #{storeName},
            update_time = #{updateTime},
            updator_id  = #{updatorId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM store
        WHERE id = #{storeId}
    </delete>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM store
        WHERE id = #{storeId};
    </select>

</mapper>